<!DOCTYPE html>
<html>
<head>
  <title>Lovebnbwww</title>
  <%= stylesheet_link_tag    "beach", :media => "all" %>
  <%= stylesheet_link_tag    "themes/hip-urban", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <% unless is_mobile_device? %>
    <%= javascript_include_tag "date_picker" %>
    <%= stylesheet_link_tag "date_picker" %>
  <% end %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1"> 
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">LoveBnB</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#">Photos</a></li>
      <li><a href="#description">Description</a></li>
      <li><a href="#maps">Find</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>

</nav>

<%= yield %>

<footer>
<h3>lovebnb.www</h3>
</footer>

</body>
</html>
